.nav-container{
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url("images/skyscrapper_2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

.gap-between{
    margin: 2rem;
}

.row{
    background: linear-gradient(to bottom, #bdbdbd, #ffffff);
    color: black;
}

.font-sm-head{
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    font-weight: 2.5rem;
    color: black;
}

.font-sm-nav{
    font-family: 'Lora', serif;
    font-size: 1rem;
    line-height: 1.6rem;
    color: black;
}

.content {
    text-align: left;
    color: white;
    margin: 0px 0px 0px 5rem;
    position: relative;
    font-family: 'Lora', serif;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
